body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  overflow-x: hidden;
}

body, html {
  height: 100%; /* Full height */
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Push footer to the bottom */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
}

h1 {
  color: #343a40;
  text-align: center;
  margin-bottom: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

form .form-label {
  font-weight: bold;
}

.table {
  margin-bottom: 50px; /* Add spacing below the table to prevent overlap with footer */
}

.navbar {
  margin-bottom: 20px;
}

footer {
  background-color: #343a40; /* Dark background */
  color: white; /* White text */
  padding: 15px 20px; /* Padding for content */
  width: 100%;
  margin-top: auto; /* Automatically push footer to the bottom */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

footer p {
  margin: 0;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 2rem;
}

.list-group-item {
  font-size: 1.1rem;
  padding: 10px 15px;
}

.chart-container {
  max-width: 600px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the chart */
}

canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
